.btn {
  display: block;
  width: 140px;
  height: 40px;
  background: #1c262f;
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}
