@charset "UTF-8";

.about {
  width: 100%;
  height: 100%;
  background: #AFC2C9;
  position: relative;
  overflow: hidden;

  &__heading {
    transform: rotate(90deg);
    position: absolute;
    top: 113px;
    left: -130px;
  }

  &__image {
    margin: 70px -50px 30px 30px;
    img {
      width: 100%;
    }
  }

  &__description {
    width: 90%;
    margin-left: 30px;
    margin-bottom: 40px;
    p {
      line-height: 1.5rem;
      font-size: 14px;
    }

    h1 {
      margin-bottom: 10px;
    }

    .about__skill {
      margin-top: 30px;
      h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        display: flex;
        li {
          margin-right: 10px;
          font-size: 14px;
          border: 1px solid #1C262F;
          border-radius: 5px;
          padding: 5px;
        }
      }
    }
    .about__button {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
    }
  }
}

.btn {
  display: block;
  width: 150px;
  height: 50px;
  background: #1C262F;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}
