@charset "UTF-8";

.header {
  width: 100%;
  height: 90px;
  background: transparent;
  position: fixed;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: all 0.5s;

  &__title {
    & a {
      display: none;
      font-family: 'Didot';
      font-size: 2rem;
      line-height: 90px;
      letter-spacing: 2px;
    }
  }

  &__hamburger {
    z-index: 3;
  }

  &.hide {
    transform: translateY(-100%);
    opacity: 0;
  }

  @keyframes roundCircle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/* medium screen*/
@media screen and (min-width: 768px) {
  .header {
    padding: 50px;
    &__title {
      & a {
        display: block;
      }
    }
  }
}
/* large screen*/
@media screen and (min-width: 1024px) {
  .header {
    transition: all 0.3s;
    &.scrollHide {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}
