.slick-next {
  right: -10px;
}
.slick-prev {
  left: -10px;
}
.slick-dots {
  position: static;
  bottom: 0px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #ffffff
}