@charset "utf-8";

.work {
  width: 85%;
  margin: 20px auto;
  color: #ffffff;

  p {
    line-height: 1.5rem;
    font-size: 14px;
  }

  h1 {
    margin-bottom: 10px;
  }

  &__technologies {
    margin-top: 20px;
  }

  &__image {
    width: 100%;
    margin-bottom: 30px;
  }

  .skill__item {
    border-color: #ffffff;
  }
}