* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica";
  font-size: 16px;
}

header, section, footer {
  padding: 20px;
}

/* for tablet */
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
/* for laptop */
@media screen and (min-width: 1024px) {

}